* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}

input[type=checkbox]:focus {
    outline: none;
    border: 1px solid #4D90FE;
    box-shadow: 0px 0px 5px #4D90FE;
}

.flex {
    display: flex;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

.spaceHori > *:not(:first-child) {
    margin-left: 10px;
}

.spaceVert > *:not(:first-child) {
    margin-top: 6px;
}

#loadFadeIn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 1;
    transition: opacity 0.30s;
    will-change: opacity;
    pointer-events: none;
}

#desktopBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.desktop {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tempBG {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    transition: opacity 0.30s;
    will-change: opacity;
    opacity: 0;
    pointer-events: none;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bookmark {
    transition: top 0.2s, left 0.2s;
    border-radius: 4px;
    z-index: 5;
}

.bookmark:hover {
    background: rgba(255, 255, 255, 0.25);
}

.bookmark.dragHover {
    background: rgba(255, 255, 255, 0.25);
}

.bookmark.selected {
    background: rgba(100, 200, 255, 0.5);
    animation: unset;
}

.bookmarkLink {
    width: 80px;
    max-height: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    outline: none;
}

.bookmarkLink .iconContainer {
    width: 32px;
    height: 32px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
    /* background: rgba(255, 255, 255, 0.5);
    border-radius: 4px; */
    padding: 4px;
    margin-top: 4px;
    box-sizing: content-box;
    display: flex;
    align-items: flex-end;
}

.iconContainer .icon {
    width: 100%;
}

.bookmarkLink .name {
    text-align: center;
    overflow: hidden;
    /*
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;*/
    margin-top: 5px;
    word-wrap: break-word;
    text-shadow: 0 0 6px #000, 0 0 6px #000, 0 0 3px #000;
    color: #ffffff;
    padding: 0 5px 5px 5px;
    width: 100%;
}

.window .bookmarkLink .name {
    color: #000000;
    text-shadow: none;
}

.contextMenu {
    display: none;
    position: absolute;
    border: 1px solid #BABABA;
    background: #ffffff;
    width: 260px;
    padding: 2px 0;
    box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.contextMenuItem {
    padding: 5px 26px;
    cursor: default;
    user-select: none;
}

.contextMenuItem:hover {
    background: #ebebeb;
}

.contextMenuSeperator {
    border-bottom: 1px solid #e9e9e9;
    margin: 6px 0;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 15
}

.modal {
    background: #ffffff;
    border: 1px solid #444444;
    padding: 24px;
}

.modal .row {
    display: flex;
}

.modal .icon {
    height: 60px;
    width: 60px;
    margin-top: 16px;
    margin-right: 24px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal .icon img {
    width: 32px;
}

.modal .iconBtn {
    display: none;
    font-size: 11px;
    border: 0;
    cursor: pointer;
    background: transparent;
    padding: 0;
    outline: 0;
}

.modal .iconBtn:hover {
    text-decoration: underline;
}

.modal .input {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    width: 250px;
}

.label {
    font-size: 12px;
}

.backgroundUi {
    display: flex;
    min-width: 600px;
    min-height: 150px;
    width: 70vw;
    height: 60vh;
}

.backgroundProperties {
    flex: 1 1 30%;
    padding-right: 12px;
    border-bottom: 1px solid #000000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backgroundProperties select {
    width: 100%;
}

.preview {
    text-align: center;
}

.previewPageBG {
    text-align: center;
    display: inline-block;
}

.previewBG {
    background-size: cover;
    background-position: center center;
}

.pageSizeRatio {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    text-shadow: 0 0 6px #000, 0 0 6px #000, 0 0 3px #000;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.pageSizeRatio a {
    color: #fff;
}

.topBgOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
    min-height: 50px;
}

.topBgOptions input {
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.topBgOptions span {
    display: inline-block;
    transform: translateY(-4px);
}

.topBgOptions span input {
    width: 50px;
    text-align: right;
    cursor: auto;
}

.topBgOptions .inRotation {
    width: 18px;
    height: 18px;
}

.fitModes {
    /* margin: 40px 0 10px 0; */
}

.subredditOptions {
    margin-top: 10px;
}

.subredditOptionsTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.bottomButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.backgroundSelector {
    flex: 1 1 70%;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 5px;
}

.backgroundSectionTitle {
    padding-bottom: 3px;
    margin-left: 5px;
    border-bottom: 1px solid #000000;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.backgroundSection {
    display: flex;
    flex-wrap: wrap;
    transition: max-height 0.4s;
    overflow: hidden;
    margin-bottom: 16px;
}

.bgTile {
    flex: 0 0 25%;
    font-size: 0;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.bgTile:hover .bgCheckbox {
    display: block;
}

.bgTile img {
    max-width: 100%;
    max-height: 100%;
}

.bgTile.selected .bgCheckbox {
    display: block;
}

.bgCheckbox {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.backgroundActions {
    display: flex;
    justify-content: space-around;
}

.rotateOptions {
    display: flex;
}

.shuffleDiv {
    margin-left: 30px;
    text-align: center;
}

.rotateOptions .bgRotateTime {
    width: 88px;
    display: inline-block;
}

.rotateOptions .bgShuffle {
    width: 18px;
    display: inline-block;
}

.desktopUiLeft {
    display: flex;
    flex: 1 1 30%;
    justify-content: center;
}

.desktopUiRight {
    display: flex;
    justify-content: space-between;
    flex: 1 1 70%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.loading {
    z-index: 100;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #ffffff;
    animation: spinnerAnimationFrames linear 2s;
    animation-iteration-count: infinite;
}

@keyframes spinnerAnimationFrames{
    0% {
        transform:  rotate(0deg);
        border-radius: 0;
    }
    50% {
        border-radius: 50px;
    }
    100% {
        transform:  rotate(360deg);
        border-radius: 0;
    }
}

.strobeHighlight {
    animation: strobeHighlight linear 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.3, 0.7, 0.3, 0.7);
}

@keyframes strobeHighlight {
    0% {
        background: rgba(100, 200, 255, 0.0);
    }
    50% {
        background: rgba(100, 200, 255, 0.5);
    }
    100% {
        background: rgba(100, 200, 255, 0.0);
    }
}

.cancelBtn {
    margin-right: 54px;
}

.confirmModal {
    width: 330px;
}

.confirmMessage {
    font-size: 16px;
}

.confirmButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    width: 105px;
    height: 35px;
    cursor: pointer;
    background: #dddddd;
    border: 1px solid #000000;
    user-select: none;
}

.btn:hover {
    background: #cccccc;
}

.btn[disabled] {
    display: none;
}

.defaultBtn {
    background: #84CAFF;
    border: 2px solid #000000;
}

.defaultBtn:hover {
    background: #6AB0FF;
}

.colorBtn {
    width: 60px;
    height: 30px;
    border: 5px solid #aaa;
    cursor: pointer;
}

.color-picker {
    position: absolute;
    z-index: 500;
}

.iconArea {
    display: flex;
    flex-wrap: wrap;
}

.navButton {
    padding: 5px 8px;
    cursor: pointer;
    user-select: none;
}

.navButton:hover, .navButton.dragHover {
    background: rgba(0, 0, 0, 0.15);
}

.navSep {
    padding: 5px 2px;
    user-select: none;
}

.window {
    z-index: 6;
}

.window .bookmark {
    margin: 10px;
}

.window .bookmark:hover {
    background: rgba(0, 0, 0, 0.15);
}

.window .bookmark.selected:hover {
    background: rgba(100, 200, 255, 0.5);
}

.window .bookmark.dragHover {
    background: rgba(0, 0, 0, 0.15);
}

.window .window-top-nav, .window .window-middle, .window .window-bottom {
    background: rgba(255, 255, 255, 0.9);
}

.window .window-top-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.window {
    opacity: 0.8;
}

.window.active {
    opacity: 1;
}

.selectBox {
    position: absolute;
    border: 1px solid rgb(0, 105, 255);
    background: rgba(0, 105, 255, 0.25);
    z-index: 300;
}

.arrow {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin: 0 5px;
    transform: rotate(45deg) translate(-2px, -2px);
    transition: transform 0.4s;
}

.arrow.right {
    transform: rotate(-45deg) translate(0px, -1px);
}

.aspect16-9 {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    background: #000000;
}

.aspect-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.bgTileImage {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 6px;
    text-align: left;
}

.bgInfoTitle {
    font-size: 16px;
    font-weight: bold;
}

.bgInfoDesc {
    font-size: 12px;
    padding-top: 6px;
}

.text-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.text-editor pre {
    margin: 0;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.1);
}

.text-editor blockquote {
    background: rgba(0, 0, 0, 0.1);
}

.close-btns {
    text-align: right;
    margin-top: 10px;
}

.close-btns .btn {
    height: 28px;
}

.pell-actionbar {
    background: none;
    flex: 0 0 auto;
}

.pell-content {
    width: 100%;
    height: auto;
    flex: 1 1 auto;
}

.optionsModal {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.optionsModal .buttons {
    justify-content: flex-end;
    flex: 0 0 auto;
}

.optionsTabs {
    display: flex;
    flex: 0 0 auto;
}

.optionsTab {
    flex: 0 0 auto;
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-radius: 8px 8px 0 0;
    padding: 6px 10px;
    cursor: pointer;
}

.optionsTab:nth-child(2) {
    border-left: 1px solid #666666;
}

.optionsTab.currentTab {
  border-bottom: 0;
}

.optionsTabStartFiller {
    flex: 0 0 10px;
    border-bottom: 1px solid #666666;
}

.optionsTabsFiller {
    flex: 1 1 auto;
    border-bottom: 1px solid #666666;
}

.tabPages {
    flex: 1 1 auto;
    overflow: auto;
}

.tabPage {
    display: none;
    padding: 10px;
    height: 100%;
    overflow: auto;
    user-select: auto;
}

.tabPage * {
    user-select: text;
}

.tabPage input[type=checkbox] {
    width: initial;
    height: initial;
    margin-top: 3px;
}

.tabPage .option {
    display: flex;
    margin-bottom: 10px;
}

.tabPage .optionUi {
    margin-left: 8px;
}

.tabPage.currentPage {
    display: block;
}

.textareaContainer {
    flex: 1 1 100%;
}

.textareaContainer textarea {
    width: 100%;
    height: 200px;
}

.updateMessage {
    background: #ff8;
    padding: 6px 0;
    text-align: center;
    font-weight: bold;
    display: none;
}

.extensionName {
    margin: 4px 0 12px 0;
}

.changelogTitle {
    margin: 0 0 12px 0;
}

.changelogEntry {
    margin-left: 14px;
    padding: 6px;
}

.changelogEntry.featured {
    outline: 4px dashed #ff8;
}

.changelogEntry ul {
    margin: 6px 0;
}

.backgroundImageAttributions {
    margin-top: 10px;
}

.imageAttribution {
    display: flex;
    margin-top: 8px;
}

.imageAttributionImg {
    flex: 0 0 200px;
    margin-right: 8px;
}

.imageAttributionImg img {
    width: 100%;
}

.imageAttributionText {
    display: flex;
    align-items: center;
}

.measuringDiv {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.loadingWidget {
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window.widget {
    border: 0;
    opacity: 1;
}

.window.widget:hover {
    outline: 1px solid #000;
}

.window.widget:hover .close {
    display: block;
}

.window.widget .content {
    overflow: hidden;
}

.window.widget .window-middle {
    background: transparent;
}

.window.widget .window-bottom {
    background: transparent;
}

.window.widget .window-top {
    background: transparent;
}

.window.widget .window-top-middle {
    flex: 0 0 13px;
    background: transparent;
}

.window.widget:hover .title-bar,
.window.widget:hover .w-resize.top-resize,
.window.widget:hover .e-resize.top-resize {
    border-bottom: 1px solid #000;
}

.window.widget .close {
    margin: 0;
    display: none;
}

.window.widget .title-bar {
    border-bottom: 0;
}

.window.widget .w-resize.top-resize {
    border-bottom: 0;
}

.window.widget .e-resize.top-resize {
    border-bottom: 0;
}

.defaultWidgets {
    display: flex;
}

.defaultWidgets img {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.prompt {
    width: 330px;
    padding: 24px;
}

.promptTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.promptDesc {
    margin-bottom: 10px;
}

.promptTextbox input {
    width: 100%;
}

.quickSearchButton {
    width: 60px;
    height: 40px;
    padding-top: 5px;
    position: fixed;
    top: -38px;
    left: calc(50% - 30px);
    z-index: 10;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    background: #eee;
    border: 2px solid #ddd;
    outline: 0;
    box-shadow: 0px 4px 5px #000;
    transition: background 0.4s, top 0.4s;
}

.quickSearchButton svg {
    width: 25px;
}

.quickSearchButton.show {
    top: -4px;
}

.quickSearchButton:hover {
    background: #ddd;
}

.bookmarkSearchInput {
    width: 600px;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    padding: 0 8px;
}

.searchResults {
    margin-top: 6px;
    width: 600px;
    height: 400px;
    overflow-y: auto;
}

.searchResult {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 4px 6px;
}

.searchResult img {
    width: 32px;
    height: 32px;
}

.searchResult:hover {
    background: #eee;
}

.searchResult.selected {
    background: #ddd;
}

.searchResult .bookmarkTitle {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notFound {
    font-size: 24px;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
