html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 12px;
    user-select: none;
}

body {
    background: rgba(255, 255, 255, 0.7);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subs {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    cursor: pointer;
}

.subs:hover {
    background: rgba(0, 0, 0, 0.2);
}

.subsModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.subsBack {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    cursor: pointer;
}

.subsBack:hover {
    background: rgba(0, 0, 0, 0.2);
}

.subsContainer {
    padding: 0 5px;
}

.subRow {
    display: flex;
}

.subRow:hover {
    background: rgba(0, 0, 0, 0.2);
}

.subEnabled {
    flex: 0 0 auto;
    cursor: pointer;
}

.subName {
    flex: 1 1 auto;
    align-self: center;
    cursor: pointer;
}

.removeSub {
    flex: 0 0 auto;
    font-weight: bold;
    padding: 2px;
    align-self: center;
    cursor: pointer;
}

.inputArea {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.inputArea input {
    flex: 1 1 auto;
}

.inputArea button {
    flex: 0 0 auto;
    margin-left: 5px;
}

.feed {
    padding: 0 5px 5px 0;
}

.feedItem {
    display: flex;
    margin-bottom: 10px;
}

.upvotesAndNSFW {
    display: flex;
    flex: 0 0 auto;
}

.upvotes {
    flex: 0 0 auto;
    color: #777;
    font-weight: bold;
}

.nsfw {
    margin-left: 12px;
    color: red;
    font-weight: bold;
}

.img {
    flex: 0 0 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    overflow: hidden;
    margin: 0 8px 0 5px;
    display: flex;
}

.img img {
    width: 50px;
    justify-self: center;
    align-self: center;
}

.content {
    flex: 1 1 auto;
}

.title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.info1 {
    display: flex;
    justify-content: space-between;
}

.info2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.sub {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub a, .sub a:visited {
    color: #358;
}

.comments a, .comments a:visited {
    color: #444;
}

.notice {
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.hide {
    display: none;
}

@media(max-width: 250px) {
    .img {
        display: none;
    }

    .feed {
        padding-left: 5px;
    }
}
